<h2>Hi, <%= @user.first_name %>!</h2>

<ol>
   <% @appointments.each do |appt| %>
        <li>
            <p><a href="/appointments/<%= appt.id %>"><%= Service.find_by_id(appt.service_id).name %></a> on <%= appt.date %> at <%= get_time(appt) %>.</p>
        </li>
    <% end %>
</ol>
<br>
<br>
<a href="/appointments/new"  class="button champagne">Book Another Appointment!</a><br>
<a href="/users/logout"  class="button champagne">Log out</a>