<h2>Change Your Appointment:</h2>

<form action="/appointments/<%= @appointment.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <ul>
    <li> 
        <label for="date">
        <span>Select Date:</span>
        </label>
        <input class="form-box" type="date" id="date" name="appointment[date]" value="<%= @appointment.date %>">
    </li>
    <br>
    <li>
        <label for="time">
        <span>Select Time:</span>
        </label>
        <select class="form-box" id="time" name="appointment[time]" value="<%= @appointment.time %>" >
            <option value="10" <%= @appointment.time == 10 ? "selected": ""%>>10:00 am</option>
            <option value="11" <%= @appointment.time == 11 ? "selected": ""%>>11:00 am</option>
            <option value="12" <%= @appointment.time == 12 ? "selected": ""%>>12:00 pm</option>
            <option value="13" <%= @appointment.time == 13 ? "selected": ""%>>1:00 pm</option>
            <option value="14" <%= @appointment.time == 14 ? "selected": ""%>>2:00 pm</option>
            <option value="15" <%= @appointment.time == 15 ? "selected": ""%>>3:00 pm</option>
            <option value="16" <%= @appointment.time == 16 ? "selected": ""%>>4:00 pm</option>
        </select>
    </li>
    <br>
    <li>
        <label for="service_id">
        <span>Select a Service:</span>
        </label>
        <ul>
            <% @services.each do |s| %>
                <li>
                <%= s.name %>
                <input type="radio" name="appointment[service_id]" id="<%= s.id %>"  value="<%= s.id %>" <%= @appointment.service_id == s.id ? "checked": ""%>>
                </li>
            <% end %>
        </ul>
    </li>

    <br>
    <br>
    <li>
        <input class="button champagne" type="submit" value="Change appointment!">
    </li>
</form>

