<h2>See you soon, <%= @user.first_name %>!</h2>
<br>
<ul>
    <li>
        <p>You've booked: <%= @service.name %> on <%= @appointment.date %> at <%= @appointment.time %>.</p>
    </li>
</ul>

<a href="/appointments/<%= @appointment.id %>/edit">Need to reschedule or change this service?</a>
<br>
<br>
<form action="/appointments/<%= @appointment.id %>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Cancel this Appointment">
</form>
<br>
<a href="/users/:id">View your profile to see all upcoming appointments.</a>
<br>
<a href="/users/logout">Log out</a>