<h2>See you soon, <%= @user.first_name %>!</h2>
<br>
<ul>
    <li>
        <p><strong>You've booked: </strong><%= @service.name %> on <%= @appointment.date %> at <%= @appointment.time %>.</p><br>
    </li>
</ul>
<br>
<br>
<% if @appointment.user_id == session[:user_id] %>
    <p>Need to reschedule or change this service?    <a href="/appointments/<%= @appointment.id %>/edit">Click here to Edit</a></p>
    <p>To see all upcoming appointments: <a href="/users/:id">My Profile</a></p>
<% end %>
<br>
<br>
<form action="/appointments/<%= @appointment.id %>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input class="button champagne" type="submit" value="Cancel this Appointment">
</form>
<br>

